/* This for the top part of the restaurant page (part with photo background before menu)  */

.top_section_detail {
    width: 100%;
    height: 100%;
    margin-right: auto;
    margin-left: auto;
    /* max-width: 1280px !important; */
    max-height: 640px !important;
    position: fixed;
    overflow: hidden;
    color: #000;
    text-align: left;
    background-position: center center;
    background-repeat: no-repeat;
    border: 2px solid black;
    padding: 25px;
    background-size: auto;
    border: 50px black;
    padding: 15px;
    background-clip: padding-box;
    border: 8px solid black;
    padding: 25px;
    background-repeat: no-repeat;
    /* background-size: auto; */
    /* left: 50%;
    margin-left: -512px; */
}

.x {
    border: 10px dotted black;
    padding: 15px;
    background: lightblue;
    background-clip: padding-box;
}

.image_format {
    width: 400px;
    height: 200px;
    object-fit: cover;
}

.top_section_body {
    font-weight: 400;
    line-height: 1.5;
    font-size: 0.875rem;
    font-family: "Poppins", Helvetica, sans-serif;
}

.opacity-mask {
    width: 100%;
    height: 100%;
    /* position: absolute; */
    left: 0;
    top: 0;
    z-index: 2;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.lower-textbox {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 999;
    padding: 0 10px 40px 10px;
    font-weight: 500;
}

.textbox-row-left {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.textbox-row-right {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: 800px;
}

.smaller-header-text {
    font-size: medium;
}

.no-margines {
    margin-block-end: 0%;
}

.font-italics {
    font-style: italic;
}

.smaller-font {
    font-size: smaller;
}

.header-text {
    font-size: x-large;
    font-weight: bold;
}