.App {
    text-align: center;
}

.App-logo {
  height: 5vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


@import '~antd/dist/antd.css';

.site-layout-content {
    min-height: 280px;
    padding: 24px;
    background: #fff;
}

.logo {
  float: left;
  height: 5vmin;
  margin: 16px 24px 16px 0;
}
.button {
  background-color: white;
  border-style: none;
  padding: 30px 30px;
  cursor: pointer;
  margin: 3em;
}

.images:hover{
  filter: contrast(90%);
  margin: auto;
  width: 25%;
  padding: 15px;
}

.button1{
  height: 100px;
  background-color: rgba(255, 255, 255,0);
  border-style: none;
  margin: auto;
  width: 25%;
  padding: 20px;
  margin-right: 50px;
}
.images{
  border-radius: 95px;
  max-width: 100%;

}

.ant-row-rtl .logo {
    float: right;
    margin: 16px 0 16px 24px;
}

[data-theme="dark"] .site-layout-content {
  background: #141414;
}
//for the two dot buttons
.slick-dots{
  position: absolute;
  top: 400px;

}
.ant-menu {
  display: flex;
  justify-content: flex-end;
}

.ant-layout-header {
  background-color: rgb(255, 255, 255);
}

.ant-layout-content{
  background-color: white;
  height: 305px;
}
//for the buttons where the famous stuff is
.slick-track{
  height: 400px;
}

.slick-slide{
  align-items: center;

}

.responsive{
  width: 100%;
  max-width: 200px;
  height: auto;
}

@media all and (max-width: 190px) {
  .button{
    display: flex;
  }
  .images{
    display: flex;
  }
}

.nav-links{
  display: flex;
  justify-content: space-around;
  align-items: center;
}